body {
    background-color: rgb(243, 243, 243);
    font-family: 'Gill Sans, sans-serif;
}

div.flex-align {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100%;
  }

.img-w150 {
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: -330px;
}

.menu {
    margin-top: 15px;
}

.titulo_node {
    position: relative;
    left: -380px;
}